@charset "ISO-8859-1";

body {
	font-family: "Courier";	
}

a {
	color: #20272f;
}

h1 {
	color: #7a0039;
	font-family: "Courier";
}

label {
	display: block;
	width: 210px;
	float: left;
	font-family: "Courier";
}

input[type="text"] {
	width: 200px;
	font-family: "Courier";
}

input[type="submit"] {
	width: 100px;
	font-family: "Courier";
}

select {
	width: 206px;
	font-family: "Courier";
}

#calendrier {
	width: 70%;	
}

.erreur {
	color: red;
}